{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Sendal{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'styles/general.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

<!-- ===== NAVBAR ===== -->
<header class="navbar">
    <div class="nav-left">
        <a href="{% url 'index' %}" class="brand" aria-label="Inicio">
            <img src="{% static 'resources/images/general/logo.png' %}" alt="Isotipo Sendal" class="brand-mark">
            <img src="{% static 'resources/images/general/Sendal.png' %}" alt="Logotipo Sendal" class="brand-word">
        </a>
    </div>

    <nav class="nav-center">
        <a href="{% url 'index' %}#proyectos">Proyectos</a>
        <a href="nosotros.html">Nosotros</a>
        <a href="cotizador.html">Cotizador</a>
        <a href="{% url 'contact' %}">Contacto</a>
    </nav>

    <div class="nav-right">
        <a href="tel:+52XXXXXXXXXX" class="phone" aria-label="Llamar">
            <img src="{% static 'resources/images/general/telefono.png' %}" alt="Teléfono">
        </a>
        <a href="#" class="lang">ENG</a>
    </div>
</header>

<!-- ===== CONTENIDO ESPECÍFICO DE CADA PÁGINA ===== -->
<main>
    {% block content %}{% endblock %}
</main>

<!-- ===== FOOTER ===== -->
<footer class="site-footer">
    <div class="footer-inner container">
        <div class="footer-brand">
            <a href="{% url 'index' %}" class="brand" aria-label="Inicio">
            <img src="{% static 'resources/images/general/Sendal.png' %}" alt="Logotipo Sendal" class="brand-word"/>
            </a>
            <div class="f-social">
                <a href="https://www.facebook.com/profile.php?id=61575546881257" aria-label="Facebook"><img src="{% static 'resources/images/general/facebook.png' %}" alt=""></a>
                <a href="https://www.instagram.com/inmobiliaria_sendal?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" aria-label="Instagram"><img src="{% static 'resources/images/general/instagram.png' %}" alt=""></a>
            </div>
            <p class="f-slogan">LA RAÍZ DE TU FUTURO</p>
        </div>

        <nav class="footer-nav">
            <a href="{% url 'index' %}#proyectos">Proyectos</a>
            <a href="nosotros.html">Nosotros</a>
            <a href="cotizador.html">Cotizador</a>
            <a href="{% url 'contact' %}">Contacto</a>
        </nav>

        <div class="footer-logo">
            <a href="{% url 'index' %}" class="brand" aria-label="Inicio">
            <img src="{% static 'resources/images/general/logo.png' %}" alt="Isotipo Sendal" class="brand-mark">
            </a>
        </div>
    </div>
</footer>

<!-- Scripts globales -->
{% block extra_js %}{% endblock %}
</body>
</html>
