{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/errors.css' %}">
<link rel="stylesheet" href="{% static 'styles/subpaginas/general.css' %}">
{% endblock %}

{% block content %}
<section class="error-fill" aria-labelledby="error-title">
    <div class="error-card">
      <h1 id="error-title" class="error-title">{{ code }} — {{ title }}</h1>
      <p class="error-text">{{ message }}</p>
      <a href="{% url cta_url %}" class="btn">{{ cta_text }}</a>
    </div>
  </section>
{% endblock %}
