<article
  class="project-card"
  data-ubicacion="{{ proyecto.ubicacion|lower }}"
  data-tipos="{{ proyecto.tipos|join:','|lower }}">
  {% if proyecto.external_url %}
<a href="{{ proyecto.external_url }}" target="_blank" rel="noopener noreferrer">
{% else %}
<a href="{% if proyecto.slug %}{% url proyecto.url_name slug=proyecto.slug %}{% else %}{% url proyecto.url_name %}{% endif %}">
{% endif %}
    <img src="{{ proyecto.img }}" alt="{{ proyecto.nombre }}">
    <h3>{{ proyecto.nombre }}</h3>
</a>

  {% if proyecto.descripcion %}<p>{{ proyecto.descripcion }}</p>{% endif %}
</article>
