{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "Contacto – Sendal" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/contacto.css' %}">
{% endblock %}

{% block content %}
<main class="page container">
  <h1 class="brand-title page-title">IMAGINA TU FUTURO <br>EN YUCATÁN</h1>
  <section class="col-left">

    <div class="taglines">
      <p><strong>{% trans "Donde crece tu historia." %}</strong></p>
      <p><strong>{% trans "Es momento de echar raíces." %}</strong></p>
    </div>

    <p class="lead">
      {% blocktrans %}En Sendal, creemos que tener un espacio propio no debería ser un lujo, sino el comienzo de tu propio camino.
      Más que vender terrenos, ayudamos a construir historias. Porque sabemos que no se trata solo de tierra: se trata de tu
      futuro, tu legado, tu tranquilidad.{% endblocktrans %}
    </p>

    <h2 class="contact-title">{% trans "Contáctanos" %}</h2>

    <form class="contact-form" action="#" method="post" novalidate>
      {% csrf_token %}
      <div class="grid-2">
        <label>
          <span>{% trans "Nombre" %}</span>
          <input type="text" name="nombre" placeholder="{% trans 'Jane' %}" required>
        </label>
        <label>
          <span>{% trans "Apellido" %}</span>
          <input type="text" name="apellido" placeholder="{% trans 'Smitherton' %}" required>
        </label>
      </div>

      <label>
        <span>{% trans "Email" %}</span>
        <input type="email" name="email" placeholder="{% trans 'email@janesfakedomain.net' %}" required>
      </label>

      <label>
        <span>{% trans "Mensaje" %}</span>
        <textarea name="mensaje" rows="5" placeholder="{% trans 'Escribe tu pregunta o mensaje' %}"></textarea>
      </label>

      <button type="submit" class="btn-primary">{% trans "Enviar" %}</button>
    </form>

  </section>

  <aside class="col-right">
    <img src="{% static 'resources/images/alt/contacto.jpg' %}" alt="{% trans 'Niñas corriendo' %}" class="hero-photo">
  </aside>


<section class="contact-info container">
  <aside class="col">
    <p class="info-title">CONTACTO</p>
    <p class="info-big">
      <a href="https://wa.me/529993976683?text={{ 'Hola, me gustaría saber más sobre los proyectos de Sendal.'|urlencode }}"
         target="_blank" rel="noopener"
         aria-label="{% trans 'Escríbenos por WhatsApp' %}">
        999 397 6683
      </a>
    </p>
  </aside>

  <aside class="col">
    <p class="info-title">UBICACIÓN</p>
    <p class="info-lines">
      C.15 #503, Col. Altabrisa, Mérida Yuc.<br>
      Dentro de Magnia Corporate Center
    </p>
    <p class="info-link">
      <a href="https://www.google.com/maps?q=MAGNIA+Corporate+Center,+C.+15+503,+Col.+Altabrisa,+97130+Mérida,+Yuc.&ftid=0x8f567720f0462bff:0x9eeb570980663d76&entry=gps"
         target="_blank" rel="noopener">
        GOOGLE MAPS
      </a>
    </p>
  </aside>
</section>




{% endblock %}
